name: PHPUnit CI

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/composer@v5
      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          bootstrap: vendor/autoload.php
          configuration: tests/phpunit/phpunit.xml
          args: --testdox
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: DenverCoder1
