name: Format with Prettier

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Prettify code
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: "--write **/*.{php,md,js,css}"
          commit_message: "style: Formatted code with Prettier"
          prettier_plugins: "@prettier/plugin-php"
